pip>=19.2.3
numpy>=1.16.3
pandas>=0.24.2
matplotlib>=3.0.3
jinja2
pytest
-e git://github.com/matthiaskoenig/sbmlutils.git@8f0ac6d2db616a3de217290b21738d4c4c638e20#egg=sbmlutils
-e git://github.com/matthiaskoenig/sbmlsim.git@7cb0e15cff21596c082ba97b2923c4ebdcfa4385#egg=sbmlsim
